# Stack Setup
CLOUDFORMATION_STACK_NAME= # The name to use for the CloudFormation stack

# Stack Parameters
STACK_RESOURCES_BUCKET= # A pre-existing S3 bucket where resources needed to launch the stack can be put
MEDIA_BUCKET_IDENTIFIER= # An identifier used to name the bucket where media will be uploaded
BASIC_AUTH_USERNAME= # Username for HTTP Basic auth of the upload webpage
BASIC_AUTH_PASSWORD= # Password for HTTP Basic auth of the upload webpage
NOTIFICATION_SOURCE_EMAIL_ADDRESS= # The email address from which transcripts are sent
